.main { background-color: #4E9231;color:white; }	/* Main Primary color */
.main-light { background-color: #A8DB92;color: grey; }
.main-light-2 { background-color: #77B75B;color: grey; }
.color-primary-3 { background-color: #2E6E12;color:white; }
.main-dark { background-color: #164900;color:white; }